<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532753558583-8fm441hvofs17n95m1kte4mh0i6ehi0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532753558583-8fm441hvofs17n95m1kte4mh0i6ehi0h</string>
	<key>API_KEY</key>
	<string>AIzaSyD5cop4INkMabJsoDNWU5cxzHnIQfNbKOU</string>
	<key>GCM_SENDER_ID</key>
	<string>532753558583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zodiacTalks</string>
	<key>PROJECT_ID</key>
	<string>zodiacapp2</string>
	<key>STORAGE_BUCKET</key>
	<string>zodiacapp2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532753558583:ios:e4f8d36ead6bd6f195e3b2</string>
</dict>
</plist>